{% extends 'layout.html' %}
{% block content %}

<div style="height: 100vh">
    <div class="flex-center flex-column">
        <div class="container">
            <div class="row">
                {% for post in posts %}
                <div class="card">
                    <img class="rounded-circle" src="{{ post.author.profile.image.url }}" alt="">
                    <h2 class="card-header"><a href="#">{{ post.title }}</a></h2>
                    <p class="card-body">{{ post.content }}</p>

                    <div class="card-footer">
                        <a class="mr-2" href="#">By {{ post.author }}</a>
                        <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                        <small>Likes :{{ post.like_count }}</small>
                    </div>


                </div>
                {% endfor %}
            </div>
        </div>



        <h1 class="animated fadeIn mb-4">Instagram clone</h1>
        <h5 class="animated fadeIn mb-3">Thank you for using our product. We're glad you're with us.</h5>

        <p class="animated fadeIn text-muted">MDB Team</p>
    </div>
</div>

{% endblock %}