{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div style="height: 100vh; margin-top: -8%">
    <div class="flex-center flex-column">
        <div class="container">
            <div class="row">
                <div class="col-lg-2" style="border-right: 2px solid black">
                    <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">

                </div>
                <div class="col-lg-10">
                    <h2 class="account-heading">{{ user.username }}</h2>
                    <p class="text-secondary">{{ user.email }}</p>
                </div>
            </div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group form-control-lg">
                    <legend class="border-bottom mb-4">Profile Info</legend>
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock content %}