{% extends "layout.html" %}
{% block content %}
<div style="height: 100vh; margin-top: -15%">
    <div class="flex-center flex-column">
        <div class="container">
            <div class="row">
                <div class="col-lg-2" style="border-right: 2px solid black">
                    <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" height="125" width="128">

                </div>
                <div class="col-lg-10">
                    <h2 class="account-heading">{{ user.username }}</h2>
                    <p class="text-secondary">{{ user.email }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}